<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Admin</title>
</head>
<body>
    <script type="text/javascript" src="/script.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lc99eMpAAAAAKigJpRGGitIMj6iGaJpu6-yP8Ot"></script>

    <div>
        <h1>Admin Panel</h1>
    </div>
    <div>
        <div id="loading-upload-resume" class="loading" hidden></div>
        <form th:action="@{/uploadResume}" method="post" object=file enctype="multipart/form-data" id="upload-resume">
            <label for="resume">Upload Resume</label>
            <input type="file" name="file" id="resume" accept=".pdf">
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>